
body
{
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
}

body a
{
  color: #c03030;
}

.projectSchedule
{
   width: 100%;
   border-collapse: collapse;
}

.projectSchedule td
{
   border: 1px solid #a0a0a0;
   vertical-align: top;
   padding: 8px 4px 4px 4px;
   margin: 0px;
}

.title
{
  color: #000000; 
  font-size: 24pt;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.smallTitle
{
  font-size: 14pt;
}

.constrainedWidth
{
   width: 900px;
}

.section
{
    font-size: 18pt;
    font-weight: bold;
    border-bottom: 1px solid #c0c0c0;
    padding-top: .75em;
    padding-bottom: .25em;
    margin-bottom: .25em;
}

.subsection
{
    font-size: 14pt;
    font-weight: bold;
    padding-top: .75em;
    padding-bottom: .75em;
}

.wellSpacedList li
{
  padding-top: 12px;
}

.boldText
{
   font-weight: bold;
}

.biggerText {
   font-size: 14pt;
}

.comment {
   color: #008000;
   font-style: italic;
}
